/.claude
/.kiro
/.skill
/.kirograph

/.idea
/.vscode
/.nova
/.zed
/.fleet

.phpunit.result.cache,
/.phpunit.cache
.phpactor.json
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml

/db
/vendor
/node_modules
/public/build
/public/hot
/public/storage
bootstrap/cache/*.php
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/pail
*.log
database/*.sqlite*

.env
.env.backup
.env.production
/auth.json
/storage/*.key